.fab-container {
    background-color: #f0f0f0;
    width: 500px;
    position: relative;
    min-height: 200px;
  
    .action-tabs {
      // Tabs 스타일링
    }
  
    .tab-panel {
      // TabPanel 스타일링
    }
  
    .fab {
      // Fab 스타일링
    }
  }
  
  .a11y-props {
    // a11yProps 스타일링
  }
  
  .fab-style {
    // fabStyle 스타일링
  }
  
  .fab-green-style {
    // fabGreenStyle 스타일링
  }
  