.collection_container {
  position: absolute;
  width: 100%;
  height: 4%;

  .collection_list_options {
    position: relative;
    bottom: 4px;
    height: 28px;
    width: 15%;
    opacity: 30%;
    margin-left: 40px;

    &:hover {
      opacity: 1 !important;
    }
  }
}
