.collectionedit_container {
    background-color: rgb(232, 178, 178);
    height: 100%;

    .path_name_container {
        position: relative;
        height: 4.5%;
        border-bottom: 1px solid #d3cfcf;
    }
}