.dropdown {
    position: relative;
    // margin-bottom: 0px;
    // width: 30%;
    height: 100%;
    // margin-left: 10px;
    justify-self: center;
    left: 40px;
    z-index: 1;
    border-radius: 5px;
}

.dropdown-toggle {
    position: relative;
    width: 90px;
    background-color: transparent;
    height: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 12px;
    border: none; /* 테두리 색 없애기 */
  }

  .dropdown-options {
    display: inline-block;
    position: fixed;
    z-index: 2;
    right: auto;
    margin: -2px;
    width: 90px;
    height: 130px;
    background-color: antiquewhite;
  }
  
  .selected {
    color: blue($color: #1b00b6);
  }
  
