
.container{
    background-color: rgb(245, 244, 244);
    height: 100vh;
    width: 100vw;
    display: flex;
    .header {
        background-color: white;
        position: fixed;
        width: 100%;
        height: 5%;
        display: flex;
        border-bottom: 1px solid #d3cfcf;
    }

    }
    .main_container {
        position: relative;
        background-color: dodgerblue;
        height: 95%;
        width: 85%;
        top: 5%;
        
        .builder{
            position: relative;
            height: 55%;
            background-color: rgb(248, 234, 234);
            // .topEle{
            //     display: flex;
            //     width: 100%;
            //     .link{
            //         width: 25%;
            //     }
            //     .link:nth-child(1){
            //         background-color: aliceblue;
            //     }
            //     .link:nth-child(2){
            //         background-color: rgb(220, 220, 255);
            //     }
            //     .link:nth-child(3){
            //         background-color: rgb(205, 247, 247);
            //     }
            //     .link:nth-child(4){
            //         background-color: rgb(248, 230, 197);
            //     }
            // }
            // .bt-top{
            //     height: 100%;
                
            // }
        }
        .response {
            position: relative;
            height: 45%;
            background-color: rgb(223, 215, 223);
        }

        @media (max-width: 768px) {
            /* 화면 너비가 768px 이하일 때 적용되는 스타일 */
            
            .main_container {
              width: 100%; /* 전체 너비 사용 */
              height: 100%; /* 전체 높이 사용 */
            }
          
            .builder {
              height: 40%; /* 화면 높이의 40%로 조정 */
            }
          
            .response {
              height: 60%; /* 화면 높이의 60%로 조정 */

            }
          }
          
    }

