
.container{
    background-color: rgb(245, 244, 244);
    height: 100vh;
    width: 100vw;
    display: flex;
    .header {
        background-color: white;
        position: fixed;
        width: 100%;
        height: 5%;
    }
    .sidebar_container {
        position: relative;
        background-color: #f5f5f5;
        width: 15%;
        height: 95%;
        top: 5%;

        .sidebar_list {
            position: relative;
            height: 5%;
            border-bottom: 1px solid #d3cfcf;

            .new_btn,
            .import_btn,
            .export_btn {
            padding: 5px 10px;
            font-size: 10px;
  /* 추가적인 스타일링 속성 */
}

            .new_btn {
                position: relative;
                left: 28%;
            }
            .import_btn {
                position: relative;
                left: 30%;
            }
            .export_btn {
                position: relative;
                left: 32%;
            }

            /* 화면 크기가 768px 이하일 때 버튼 스타일 */
@media (max-width: 768px) {
    .new_btn,
    .import_btn,
    .export_btn {
      padding: 5px 10px;
      font-size: 12px;
      /* 추가적인 스타일링 속성 */
    }
  }
        }
    }
    .main_container {
        position: relative;
        background-color: dodgerblue;
        height: 95%;
        width: 85%;
        top: 5%;
        
        .builder{
            height: 55%;
            background-color: rgb(248, 234, 234);
            .topEle{
                display: flex;
                width: 100%;
                .link{
                    width: 25%;
                }
                .link:nth-child(1){
                    background-color: aliceblue;
                }
                .link:nth-child(2){
                    background-color: rgb(220, 220, 255);
                }
                .link:nth-child(3){
                    background-color: rgb(205, 247, 247);
                }
                .link:nth-child(4){
                    background-color: rgb(248, 230, 197);
                }
            }
            .bt-top{
                height: 100%;
                
            }
        }
        .response {
            height: 45%;
            background-color: rgb(223, 215, 223);
        }
    }
}
