.raw_container {
    position: relative;
    height: 100%;
    width: 100%;

    textarea {
        width: 100%;
        height: 100%;
        resize: none;
        background-color: transparent;
        color: #000;
        align-items: center;
        font-size: 15px;
        border: 2px solid #d3cfcf;
        outline-color: rgb(9, 123, 237);
        font-family: 'Menlo', 'Consolas', monospace;
      }

}