.request-container{
    height: 100%;
    width: 100;
.builder{
    position: relative;
    height: 58%;
    background-color: rgb(248, 234, 234);
    
}
.response {
    position: relative;
    height: 38%;
   
}
}