.sidebar_container {
    position: relative;
    background-color: #f5f5f5;
    width: 15%;
    height: 95%;
    top: 5%;

    .sidebar_header {
        position: relative;
        height: 4.5%;
        border-bottom: 1px solid #d3cfcf;
              
        .btn_area {
          position: relative;
          
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: center;
          margin-right: 1rem;

          
        
      
  
      }

      }
    }