.sidebar_container {
    position: relative;
    background-color: #f5f5f5;
    width: 15%;
    height: 95%;
    top: 5%;

    .sidebar_header {
        position: relative;
        height: 4.5%;
        border-bottom: 1px solid #d3cfcf;
        .btn-group{
          .btn-1,
          .btn-2,
          .btn-3{
            color: gray;
            border-color: gray;
          }
        
        }    
     }
  }